*{
    padding: 0;
    margin: 0;
    --ff-primary: 'Poppins', sans-serif;
    --clr-dark: #000;
}
body{
    font-family: var(--ff-primary);
}
h2{
    font-size: 2rem;
    padding-bottom: .5rem;
}
.window{
    /* height: 70vh; */
}

.title{
    font-size: 3rem;
    font-weight: 700;
    padding-top: 2rem;
    text-align: center;
}

.menu{
    width: 500px;
    margin-inline: auto;
    border: 1px solid rgb(90, 90, 151);
    background-color: rgb(90, 90, 151);
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 3px rgba(184,184,184,1);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.menu h2, .menu p, .menu label{
    color: white;
}
.menu p, .menu label{
    font-size: 1rem;
    font-weight: 600;
}
.menu input[type='text']{
    width: 80%;
    padding: .3rem .5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
}

.group-spacing{
    padding-bottom: 1.5rem;
}
.btn-secondary.active {
    background-color: #007bff;
    color: #fff;
  }
.board{
    margin-top: 1.5rem;
    height: 400px;
    width: 400px;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
}
.square{
    box-sizing: border-box;
    height: 33.33%;
    width: 33.33%;
    border: 1px solid var(--clr-dark);
    font-size: 7rem;
    text-align: center;
}
.hidden
{
    display: none;
}
.newGame-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid green;
    background-color: rgb(230, 238, 230);
    border-radius: 10px;
    width: 400px;
    margin-inline: auto;
    margin-top: 3rem;
    padding: 1.5rem .5rem;
}

